# Kconfig - PULSERAIN_REINDEER SOC configuration options
#
# Copyright (c) 2018 PulseRain Technology, LLC
#
# SPDX-License-Identifier: Apache-2.0
#

choice
prompt "PulseRain Reindeer SOC implementation"
depends on SOC_SERIES_PULSERAIN_REINDEER

config SOC_PULSERAIN_REINDEER
	bool "PulseRain Reindeer SOC implementation"
	select ATOMIC_OPERATIONS_C

endchoice
